<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body class="{{- ( or .Params.color $.Site.Params.ThemeColor ) -}}">
{{ $container := cond ($.Site.Params.FullWidthTheme | default false) "container full" (cond ($.Site.Params.CenterTheme | default false) "container center" "container") }}

<div class="{{- $container -}}{{- cond ($.Site.Params.oneHeadingSize | default true) " headings--one-size" "" }}">

  {{ partial "header.html" . }}
  
  <!-- Show search bar only at home page -->
  {{ if .IsHome }}
  <!-- Search input -->
  <div id="search" style="margin-left: 10px;margin-top: 20px;">
    <input id="searchInput" tabindex="0">
    <button id="searchButton">Search</button>
    <ul id="searchResults">
    </ul>
  </div>
  <script src="js/fuse.js"></script> <!-- download and copy over fuse.js file from fusejs.io -->
  <script src="js/search.js"></script>
  {{ end }}

  <div class="content">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}
</div>

</body>
</html>
